@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');

body{
    font-family: 'Mouse Memoirs', sans-serif;
    background-color: #f7ecc3;
}

header{
    text-align: center;
    font-size: 140%;
}

#flexbox{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#question-box{
    height: 300px;
    background-color: #f5f9e3;
    width: 300px;
    border: 2px solid black;
    border-radius: 2px;
    text-align: center;
    font-size: 140%;
}

#score{
    text-align: center;
    font-size: 140%;
}